VITE_CHAINPASS_CONTRACT_ADDRESS=0x448C46b41c7230DD351805AF370B348F02610284
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_PINATA_JWT=
VITE_PINATA_GATEWAY=https://gateway.pinata.cloud
